
        <section class="wsec1400">
            <article class="seller_wrap">
                <nav class="seller">
                    <ul class="icon">
                        <li class="gray">
                            <div class="icon_fi">
                                <span>판매자 유형 ></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>정보 입력 ></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>가입 신청 완료</span>
                            </div>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
        <section class="wsec1400">
            <article class="seller_wrap">
                <div class="seller_wrap2">
                    <div class="sell">
                        <span></span>
                        <p>판매자유형</p>
                    </div>
                </div>
            </article>
        </section>
        <section class="wsec1400">
            <article class="img_art">
                    <div class="img_wrap">
                        <div class="icons">
                          <a href=""><span class="first"></span></a>
                          <p><a href="">개인</a></p>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <div class="icons">
                            <a href=""><span class="second"></span></a>
                            <p><a href="">식품셀러</a></p>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <div class="icons">
                            <a href=""><span class="third"></span></a>
                            <p><a href="">프리마켓셀러</a></p>
                        </div>
                    </div>
                </div>
            </article>
                <div class="text">
                    <ul class="text_wrap">
                        <li>개인 및 셀러의 활동에 앞장서는 다리가 되겠습니다.</li>
                        <li>가입 이후 사업자등록을 하셨다면 '판매자 정보 > 사업자 전환' 메뉴를 통해 사업자 전환할 수 있습니다.</li>
                        <li> 회원으로 가입하시는 분들의 신상정보 및 인증서 등의 정보는 개인정보보호방침에 따라 안전하게 관리 됩니다.</li>
                    </ul>
                </div>
            <div class="next">
                <div><a href="">다음 ></a></div>
            </div>
        </section>
