<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<main class="login_b">
    <section class="login_sec1440">
        <article class="l_inner">
            <h1>로그인</h1>
            <ul class="login_wrap">
                <li class="member" onclick="">개인</li>
                <li class="nonmem" onclick="">식품셀러</li>
                <li calss="seller" onclick="">프리마켓셀러</li>
            </ul>
            <div class="tab_wrapper">
                <div class="login_icon">
                    <span class="id_wrap">
                        <p>ID</p>
                        <input type="text" >
                        <span class="material-symbols-outlined">expand_more</span>
                    </span>
                </div>
                <div class="pw_icon">
                    <span class="id_wrap">
                        <p>PASSWORD</p>
                        <input type="password">
                        <span class="material-symbols-outlined">lock</span>
                    </span>
                </div>
                <div class="l_enter">
                    <a class="a_login" href="">
                        <p>LOGIN</p>
                    </a>
                </div>
                <div class="kakao">
                    <img src="img/images/kakao_login_large_wide.png" onclick="javascript:kakaoLogin();">
                </div>
                <div class="l_txt">
                    <p><a href="join">JOIN US </a></p>
                    <span> | </span>
                    <p><a href="">FIND ID and PASSWORD</a></p>
                </div>
            </div>
        </article>
    </section>
</main>
</body>
</html>







