
        <section class="section_wrap">
            <article class="title">
                <div class="title_wrap">
                    <h1 class="title_head">서문시장 야시장</h1>
                    <p>夜하게 놀자</p>
                    <p>글로벌하게 먹고, 마시고, 즐길 수 있는</p>
                    <p>대한민국 대표 야시장</p>
                </div>
                <div class="banner">
                    <img src="img/images/cook.jpg">
                </div>
            </div>    
            </article>
        </section>
        <section class="img_wrap">
            <figure>
                <a href="">
                    <div class="market_img_1"></div>
                    <figcaption class="img1_txt">夜한 대구여행</figcaption>
                </a>
            </figure>
            <figure>
                <a href="intro">
                    <div class="market_img_2"></div>
                    <figcaption>시장 소개</figcaption>
                </a>
            </figure>
            <figure>
                <a href="">
                    <div class="market_img_3"></div>
                    <figcaption>시장 안내</figcaption>
                </a>
            </figure>
            <figure>
                <a href="">
                    <div class="market_img_4"></div>
                    <figcaption>먹거리 살거리</figcaption>
                </a>
            </figure>
            <figure>
                <a href="">
                    <div class="market_img_5"></div>
                    <figcaption>볼거리</figcaption>
                </a>
            </figure>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>서문시장 사진</h1>
                </div>
            </div>
            <article #swiperRef="" class="gallery_header swiper mySwiper">
                <div class="gallery_wrap swiper-wrapper">
                    <div class="gallery_img_1 swiper-slide"></div>
                    <div class="gallery_img_2 swiper-slide"></div>
                    <div class="gallery_img_3 swiper-slide"></div>
                    <div class="gallery_img_4 swiper-slide"></div>
                    <div class="gallery_img_5 swiper-slide"></div>
                    <div class="gallery_img_3 swiper-slide"></div>
                    <div class="gallery_img_2 swiper-slide"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </article>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>오시는 길</h1>
                </div>
            </div>
        </section>
        <section>
            <article class="moon_wrap">
                <div class="moon_img">
                    <div class="moon_txt">
                        <div class="moon_txt2">
                            <h4>서문시장 야시장 오시는 길</h4>
                        </div>
                                <div class="number">
                                    <h3>지하철 이용 시</h3>
                                    <p>1. 대구 지하철 2호선 신남역</p>
                                    <p>2. 대구 지하철 3호선 서문시장역(동산병원)</p>
                                </div>
                                <div class="number_bus">
                                    <h3>버스 이용 시</h3>
                                    <p>1. 서문시장 정류장 : 250 300 232 405 651 808 836 급행6</p>
                                    <p>2. 동원의료원 정류장 : 405 651 990 991 230 300 836 840</p>
                                    <p>3. 신남역 정류장 : 250 323 909 성서2</p>
                                    <p>4. 큰장네거리1정류장 : 156 240 309 425 524</p>
                                    <p>5. 큰장네거리2정류장 : 156 405 523 623 653</p>
                                </div>
                                <div class="number_inf">
                                    <h3>교통 / 주차 예정 </h3>
                                    <p>1. 교통 진출입 : 야시장 전구간 제한 (18:30~24:00)</p>
                                    <p>2. 주차장 : 야시장(일반606대  / 대형10대)</p>
                                </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="more_wrap">
                <div class="more">
                    <h1>더 알아보기</h1>
                </div>
                <div class="photo_wrap">
                    <ul class="photo">
                        <li class="img_1">
                            <a href="market">
                                <span><p>시장안내</p></span>
                            </a>
                        </li>
                        <li class="img_2">
                            <a href="">
                                <span><p>야시장 구성</p></span>
                            </a>
                        </li>
                        <li class="img_3">
                            <a href="">
                                <span><p>주요 관광지</p></span>
                            </a>
                        </li>
                        <li class="img_4">
                            <a href="">
                                <span><p>홍보영상</p></span>
                            </a>
                        </li>
                        </a></li>
                    </ul>
                </div>
            </article>
        </section>
        <section>
            <article class="seomun_news">
                <div class="title_wrap_3">
                    <div class="title">
                        <h1>새로운 소식</h1>
                    </div>
                <div class="news_wrap">
                    <ul class="news">
                        <li class="news_img_1"><a href=""></a></li>
                        <li class="news_img_2"><a href=""></a></li>
                        <li class="news_img_3"><a href=""></a></li>
                        <li class="news_img_4"><a href=""></a></li>
                    </ul>
                </div>
            </article>
        </section>