<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <header>
        <section class="header_main">
            <div class="title_wrap_2">
                <h1><img src="img/images/images.jpg"></h1>
                <div class="h_title">
                    <ul class="header_nav">
                        <li><a href="intro">야시장소개</a></li>
                        <li><a href="">먹거리 살거리</a></li>
                        <li><a href="">서문거리예술문화</a></li>
                        <li><a href="">참여마당</a></li>
                        <li><a href="join">입정신청</a></li>
                    </ul>
                    <div class="login">
                        <a href="login">로그인</a>
                        <a href="join">회원가입</a>
                    </div>
                    <div class="pc_none">
                        <a href="">
                            <img src="/img/images/icons8-menu-48.png">
                        </a>
                        <a href="">
                            <img src="img/images/icons8-buying-48.png">
                        </a>
                        <a href="">
                            <img src="img/images/icons8-search-48.png">
                        </a>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <section class="section_wrap">
            <article class="title">
                <div class="title_wrap">
                    <h1 class="title_head">서문시장 야시장</h1>
                    <p>夜하게 놀자</p>
                    <p>글로벌하게 먹고, 마시고, 즐길 수 있는</p>
                    <p>대한민국 대표 야시장</p>
                </div>
                <div class="banner">
                    <img src="img/images/cook.jpg">
                </div>
            </div>    
            </article>
        </section>
        <section class="img_wrap">
            <figure>
                <a href="">
                    <div class="market_img_1"></div>
                    <figcaption class="img1_txt">夜한 대구여행</figcaption>
                </a>
            </figure>
            <figure>
                <a href="intro">
                    <div class="market_img_2"></div>
                    <figcaption>시장 소개</figcaption>
                </a>
            </figure>
            <figure>
                <a href="">
                    <div class="market_img_3"></div>
                    <figcaption>시장 안내</figcaption>
                </a>
            </figure>
            <figure>
                <a href="">
                    <div class="market_img_4"></div>
                    <figcaption>먹거리 살거리</figcaption>
                </a>
            </figure>
            <figure>
                <a href="">
                    <div class="market_img_5"></div>
                    <figcaption>볼거리</figcaption>
                </a>
            </figure>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>SEOMUN NIGHT MARKET GALLERY</h1>
                </div>
            </div>
            <article class="gallery_header">
                <div class="gallery_wrap">
                    <div class="gallery_img_1"><a href-=""></a></div>
                    <div class="gallery_img_2"><a href-=""></a></div>
                    <div class="gallery_img_3"><a href-=""></a></div>
                    <div class="gallery_img_4"><a href-=""></a></div>
                    <div class="gallery_img_5"><a href-=""></a></div>
                </div>
            </article>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>오시는 길</h1>
                </div>
            </div>
        </section>
        <section>
            <article class="moon_wrap">
                <div class="moon_img">
                    <div class="moon_txt">
                        <div class="moon_txt2">
                            <h4>서문시장 야시장 오시는 길</h4>
                        </div>
                                <div class="number">
                                    <h3>지하철 이용 시</h3>
                                    <p>1. 대구 지하철 2호선 신남역</p>
                                    <p>2. 대구 지하철 3호선 서문시장역(동산병원)</p>
                                </div>
                                <div class="number_bus">
                                    <h3>버스 이용 시</h3>
                                    <p>1. 서문시장 정류장 : 250 300 232 405 651 808 836 급행6</p>
                                    <p>2. 동원의료원 정류장 : 405 651 990 991 230 300 836 840</p>
                                    <p>3. 신남역 정류장 : 250 323 909 성서2</p>
                                    <p>4. 큰장네거리1정류장 : 156 240 309 425 524</p>
                                    <p>5. 큰장네거리2정류장 : 156 405 523 623 653</p>
                                </div>
                                <div class="number_inf">
                                    <h3>교통 / 주차 예정 </h3>
                                    <p>1. 교통 진출입 : 야시장 전구간 제한 (18:30~24:00)</p>
                                    <p>2. 주차장 : 야시장(일반606대  / 대형10대)</p>
                                </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="more_wrap">
                <div class="more">
                    <h1>더 알아보기</h1>
                </div>
                <div class="photo_wrap">
                    <ul class="photo">
                        <li class="img_1">
                            <a href="market">
                                <span><p>시장안내</p></span>
                            </a>
                        </li>
                        <li class="img_2">
                            <a href="">
                                <span><p>야시장 구성</p></span>
                            </a>
                        </li>
                        <li class="img_3">
                            <a href="">
                                <span><p>주요 관광지</p></span>
                            </a>
                        </li>
                        <li class="img_4">
                            <a href="">
                                <span><p>홍보영상</p></span>
                            </a>
                        </li>
                        </a></li>
                    </ul>
                </div>
            </article>
        </section>
        <section>
            <article class="seomun_news">
                <div class="title_wrap_3">
                    <div class="title">
                        <h1>새로운 소식</h1>
                    </div>
                <div class="news_wrap">
                    <ul class="news">
                        <li class="news_img_1"><a href=""></a></li>
                        <li class="news_img_2"><a href=""></a></li>
                        <li class="news_img_3"><a href=""></a></li>
                        <li class="news_img_4"><a href=""></a></li>
                    </ul>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
          <article>
              <div class="footer_banner">
                  <div>
                      <img src="img/images/footer_banner01 (1).jpg">
                  </div>
                  <div>
                      <img src="img/images/footer_banner02 (1).jpg">
                  </div>
                  <div>
                      <img src="img/images/footer_banner03 (1).jpg">
                  </div>
                  <div>
                      <img src="img/images/footer_banner04 (1).jpg">
                  </div>
                  <div>
                      <img src="img/images/footer_banner05 (1).jpg">
                  </div>
              </div>
              <nav class="corp_area">
                  <ul class="corp_item">
                      <li><a href="#"> FAQ |</a></li>
                      <li><a href="">시장 소개 |</a></li>
                      <li><a href="#">입점문의</a></li>
                  </ul>
                  <ul class="corp_item">
                      <li>야시장 전화 |</li>
                      <li>053-256-6341</li>
                  </ul>
                  <ul class="corp_adderess">
                      <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀</p>
                      <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
              </nav>
          </article>
      </section>
      </footer>
  </body>
  </html>