
    <main>
        <section>
            <div class="market_title_wrap">
            </div>
            <article class="main_img">
                <div class="main_txt">
                    <h3>Seomun Market</h3>
                    <p>맛의 문화와 역사를 알리다</p>
                </div>
            </article>
        </section>
        <section>
            <article class="sec_img">
                <div class="sec_txt">
                    <h3>Seomun Market</h3>
                    <p>
                        서문시장 야시장은 2016년 6월에 개장한,
                        총거리 350M에 달하는 대형 야시장입니다.
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                        총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                        매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                        복합문화공간입니다.
                    </p>
                </div>
            </article>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>오시는 길</h1>
                </div>
            </div>
            <article class="moon_wrap">
                <div class="moon_img">
                    <div class="moon_txt">
                        <div class="moon_txt2">
                            <h4>서문시장 야시장 오시는 길</h4>
                        </div>
                                <div class="number">
                                    <h3>지하철 이용 시</h3>
                                    <p>1. 대구 지하철 2호선 신남역</p>
                                    <p>2. 대구 지하철 3호선 서문시장역(동산병원)</p>
                                </div>
                                <div class="number_bus">
                                    <h3>버스 이용 시</h3>
                                    <p>1. 서문시장 정류장 : 250 300 232 405 651 808 836 급행6</p>
                                    <p>2. 동원의료원 정류장 : 405 651 990 991 230 300 836 840</p>
                                    <p>3. 신남역 정류장 : 250 323 909 성서2</p>
                                    <p>4. 큰장네거리1정류장 : 156 240 309 425 524</p>
                                    <p>5. 큰장네거리2정류장 : 156 405 523 623 653</p>
                                </div>
                                <div class="number_inf">
                                    <h3>교통 / 주차 예정 </h3>
                                    <p>1. 교통 진출입 : 야시장 전구간 제한 (18:30~24:00)</p>
                                    <p>2. 주차장 : 야시장(일반606대  / 대형10대)</p>
                                </div>
                                <div class="number_inf">
                                    <h3>서문시장 야시장 영업시간</h3>
                                    <div class="number_inf">
                                        <p>관람시간 연중무휴</p>
                                        <p>정기휴무 : 매주화요일</p>    
                                        <p>일,월,수,목(19:00~22:30) </p>    
                                        <p>금,토(19:00~23:30) </p>    
                                        <p>대구 중구 큰장로 26길 45 </p>
                                        <p>☎ 053-256-6341</p>
                                        </p>
                                    </div>   
                                </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <div id="map"></div>
    <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=18162ec4d272d2e9747db9961e4e414c"></script>
    <script src="../public/js/map.js"></script>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>새로운 소식</h1>
                </div>
            </div>
            <article>
                <div class="banner_wrap">
                    <div>
                        <img src="img/images/grand_open.png">
                    </div>
                    <div>
                        <img src="img/images/game.jpg">
                    </div>
                    <div>
                        <img src="img/images/support.jpg">
                    </div>
                    <div>
                        <img src="img/images/night.jpg">
                    </div>
                </div>
            </article>
        </section>
  