<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/market.css">
</head>
<body>
</head>
<body>
    <header>
        <section class="header_main">
            <div class="title_wrap_2">
                <h1><img src="img/images/images.jpg"></h1>
                <div class="h_title">
                    <ul class="header_nav">
                        <li><a href="">야시장소개</a></li>
                        <li><a href="">먹거리 살거리</a></li>
                        <li><a href="">서문거리예술문화</a></li>
                        <li><a href="">참여마당</a></li>
                        <li><a href="">입정신청</a></li>
                    </ul>
                    <div class="login">
                        <a href="">로그인</a>
                        <a href="">회원가입</a>
                    </div>
                    <div class="pc_none">
                        <a href="">
                            <img src="img/images/icons8-menu-48.png">
                        </a>
                        <a href="">
                            <img src="img/images/icons8-buying-48.png">
                        </a>
                        <a href="">
                            <img src="img/images/icons8-search-48.png">
                        </a>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>서문시장 소개</h1>
                </div>
            </div>
            <article class="main_img">
                <div class="main_txt">
                    <h3>Seomun Market</h3>
                    <p>맛의 문화와 역사를 알리다</p>
                </div>
            </article>
        </section>
        <section>
            <article class="sec_img">
                <div class="sec_txt">
                    <h3>Seomun Market</h3>
                    <p>
                        서문시장 야시장은 2016년 6월에 개장한,
                        총거리 350M에 달하는 대형 야시장입니다.
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                        총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                        매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                        복합문화공간입니다.
                    </p>
                </div>
            </article>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>오시는 길</h1>
                </div>
            </div>
            <article class="moon_wrap">
                <div class="moon_img">
                    <div class="moon_txt">
                        <div class="moon_txt2">
                            <h4>서문시장 야시장 오시는 길</h4>
                        </div>
                                <div class="number">
                                    <h3>지하철 이용 시</h3>
                                    <p>1. 대구 지하철 2호선 신남역</p>
                                    <p>2. 대구 지하철 3호선 서문시장역(동산병원)</p>
                                </div>
                                <div class="number_bus">
                                    <h3>버스 이용 시</h3>
                                    <p>1. 서문시장 정류장 : 250 300 232 405 651 808 836 급행6</p>
                                    <p>2. 동원의료원 정류장 : 405 651 990 991 230 300 836 840</p>
                                    <p>3. 신남역 정류장 : 250 323 909 성서2</p>
                                    <p>4. 큰장네거리1정류장 : 156 240 309 425 524</p>
                                    <p>5. 큰장네거리2정류장 : 156 405 523 623 653</p>
                                </div>
                                <div class="number_inf">
                                    <h3>교통 / 주차 예정 </h3>
                                    <p>1. 교통 진출입 : 야시장 전구간 제한 (18:30~24:00)</p>
                                    <p>2. 주차장 : 야시장(일반606대  / 대형10대)</p>
                                </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="way_wrap">
                <div class="way_img">
                    <img src="img/images/sub_04_01_1.jpg">
                </div>
                    <div class="txt_inf">
                        <div class="marekt_txt">
                            <p>서문시장 야시장 영업시간</p>
                        </div>
                        <div class="txt">
                            <p>관람시간 연중무휴</p>
                            <p>정기휴무 : 매주화요일</p>    
                            <p>일,월,수,목(19:00~22:30) </p>    
                            <p>금,토(19:00~23:30) </p>    
                            <p>대구 중구 큰장로 26길 45 </p>
                            <p>☎ 053-256-6341</p>
                            </p>
                        </div>   
                </div> 
            </article>
        </section>
        <section>
            <div class="title_wrap">
                <div class="title">
                    <h1>새로운 소식</h1>
                </div>
            </div>
            <article>
                <div class="banner_wrap">
                    <div>
                        <img src="img/images/grand_open.png">
                    </div>
                    <div>
                        <img src="img/images/game.jpg">
                    </div>
                    <div>
                        <img src="img/images/support.jpg">
                    </div>
                    <div>
                        <img src="img/images/night.jpg">
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
<footer>
    <section>
        <article>
            <div class="footer_banner">
                <div>
                    <img src="img/images/footer_banner01 (1).jpg">
                </div>
                <div>
                    <img src="img/images/footer_banner02 (1).jpg">
                </div>
                <div>
                    <img src="img/images/footer_banner03 (1).jpg">
                </div>
                <div>
                    <img src="img/images/footer_banner04 (1).jpg">
                </div>
                <div>
                    <img src="img/images/footer_banner05 (1).jpg">
                </div>
            </div>
            <nav class="corp_area">
                <ul class="corp_item">
                    <li><a href="#"> FAQ |</a></li>
                    <li><a href="#">시장 소개 |</a></li>
                    <li><a href="#">입점문의</a></li>
                </ul>
                <ul class="corp_item">
                    <li>야시장 전화 |</li>
                    <li>053-256-6341</li>
                </ul>
                <ul class="corp_adderess">
                    <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀</p>
                    <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </nav>
        </article>
    </section>
</footer>
</html>